# text-editor backup files
*~

# Mac Desktop Services Store customization files
.DS_Store

# General folders
node_modules/
lib/
Courses/

# Specific sub-folders
Anglican/
Bash/
CSS/
CodeWars/
CrackingCodeInterview/
ProjEuler/
Python/Noisebridge/

# Specific files
LeetCode/Problems_for_Companies.txt
JavaScript/DataStructures/CreateMasterFileHere.txt
officeDirectory.csv

# Multiple files
COPIED_FROM_ELSEWHERE.txt
# EG,
# JavaScript/traffic-lights/COPIED_FROM_ELSEWHERE.txt
# JavaScript/digital-clock/COPIED_FROM_ELSEWHERE.txt
