# text-editor backup files
*~

# Mac Desktop Services Store customization files
.DS_Store

# Specific sub-folders
Anglican
CSS
CodeWars
CrackingCodeInterview
JavaScript/Course_DaveCeddia_Redux
JavaScript/PureReact
JavaScript/UdemyCourse1_JS
JavaScript/UdemyCourse2_CodingInterview
ProjEuler
bash
python

# Specific files
LeetCode/Problems_for_Companies.txt
JavaScript/DataStructures/CreateMasterFileHere.txt
JavaScript/traffic-lights/COPIED_FROM_ELSEWHERE.txt
