/* font-awesome for special icons (arrow-up, arrow-down, image) */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

:root {
  --spacing: 30px;
  --super-light-green: rgb(205, 255, 205);
  --super-light-red: rgb(255, 205, 205);
}

.App {
  margin: 10px;
  text-align: center;
  font-weight: bold;
  color: darkgray;
}

.App-logo {
  height: 20px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-form {
  margin-bottom: 20px;
}

.subreddit a {
  font-size: 1.5rem;
  color: darkslateblue;
  text-decoration: none;
}

.subreddit-controls-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subreddit-controls-item {
  margin: 5px 5px;
  margin-top: 10px;
}

.subreddit-alert {
  margin-top: var(--spacing);
  color: red;
}

.subreddit-loading {
  margin-top: var(--spacing);
}

.subreddit-list {
  margin: 0;
  padding: 0;
}

.subreddit-item {
  margin: var(--spacing) 10%;
  padding: 0;
  list-style: none;
  text-align: left;
}

.post-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.post-part-left {
  width: 200px;
  padding-bottom: var(--spacing);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.3rem;
}

.score-controls {
  margin: 0 5px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

i.clicky {
  cursor: pointer;
}
i.clicky.fa-arrow-up:hover {
  background: var(--super-light-green);
}
i.clicky.fa-arrow-down:hover {
  background: var(--super-light-red);
}

.post-thumbnail-container a {
  color: darkgray;
  text-decoration: none;
}

.post-thumbnail {
  width: calc(200px - 80px);
}

.image-icon-background {
  width: calc(200px - 80px);
  height: calc((200px - 80px)/1.618);
  background: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.post-part-right {
  width: 10%;
  flex-grow: 1;
  padding-left: 20px;
  padding-bottom: var(--spacing);
  border-bottom: 1px solid lightgray;
}

.post-title a {
  font-size: 1.4rem;
  color: indianred;
  text-decoration: none;
}

.post-ext-link a {
  font-size: 0.9rem;
  text-decoration: none;
  color: darkgray;
}

.post-submission {
  padding: 15px 0;
}

.post-author a {
  color: dimgray;
  text-decoration: none;
}

.post-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.post-action {
  margin-right: 10px;
}

.comment-action a {
  color: indianred;
  text-decoration: none;
}